body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transform: scale(1);
    transition: all 1s;
    background-color: #FF7978;
    animation: movebg 10s infinite;
    background-image: url(images/bg-intro-desktop.png);
}

main {
    width: 1480px;
    height: 900px;
}

.texto {
    width: 497px;
    height: 217px;
    font-weight: Bold;
    color: white;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto1 {
    width: 462px;
    font-size: 50px;
    line-height: 60px;
}

.texto2 {
    width: 519px;
    font-size: 16px;
}

.Try_free {
    width: 559px;
    height: 60px;
    background-color: #5D54A3;
    margin-top: -330px;
    margin-left: 735px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 8px 2px #00000030;
    color: white;
}

.Try_free txt {
    position: relative;
    top: 15px;
}

button {
    width: 460px;
    height: 50px;
    background-color: #37CC8A;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: inset -1px -6px 2px #00000025;
}

button:hover {
    background-color: #77E2B4;
    box-shadow: inset -1px -6px 2px #00000015;
}

.texto_aceptar {
    margin-top: 10px;
    width: 460px;
    text-align: center;
    font-size: 13px;
    color: #B9B8C0;
}

.texto_aceptar red {
    color: #EB7E84;
}

.contenedor_form{
    width: 476px;
	padding: 40px;
    background-color: white;
    margin-top: 20px;
    margin-left: 735px;
    border-radius: 10px;
    box-shadow: 0px 6px 2px #00000025;
}

form {
    width: 462px;
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input-error {
	font-size: 12px;
	color: #D28D92;
	margin-left: 62%;
	display: none;
}

.formulario__input {
	font-family: 'Poppins', sans-serif;
	width: 93.7%;
	height: 50px;
	background: #fff;
	border: solid 1px #D8D8D8;
	border-radius: 5px;
	padding-left: 25px;
}

.formulario__input:focus {
	border: 3px solid #605B79;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
}

.formulario__btn {
	font-family: 'Poppins', sans-serif;
	height: 50px;
	width: 100%;
	background: green;
	color: white;
	border: none;
	border-radius: 3px;
}

/* Validacion */

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

@keyframes movebg {
    0%,
    50%,
    100% {
        background-position: top;
    }
    25%,
    75% {
        background-position: bottom;
    }
}



@media screen and (max-width: 875px) {
    body {
        width: 375px;
        transform: scale(0.9);
        background-image: url(images/bg-intro-mobile.png);
        margin-left: 20%;
    }
    main {
        width: 375px;
        height: 800px;
    }
    .texto {
        width: 319px;
        height: 276px;
        text-align: center;
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .texto1 {
        width: 319px;
        font-size: 29px;
        line-height: 30px;
    }
    .texto2 {
        width: 319px;
    }
    .Try_free {
        width: 327px;
        height: 77px;
        margin-top: 0px;
        margin-left: 25px;
    }
 
    .contenedor_form{
        width: 245px;
        margin-left: 25px;
    }    
 
    form {
        width: 245px;
        margin-top: 20px;
        margin-left: 0px;
        border-radius: 10px;
    }
    
    .texto_aceptar {
        width: 259px;
        text-align: center;
        font-size: 11.5px;
    }
    .formulario__input-error {
        margin-left: 29%;
    }
}