body {
	font-family: 'Poppins', sans-serif;
	background: #E5E5E5;
}

main {
	width: 500px;
	padding: 40px;
	background-color: white;;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
}

.formulario {
	width: 462px;
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.formulario__grupo-input {
	position: relative;
}
.formulario__input-error {
	font-size: 12px;
	color: #D28D92;
	margin-left: 62%;
	display: none;
}

.formulario__input {
	font-family: 'Poppins', sans-serif;
	width: 93.7%;
	height: 50px;
	background: #fff;
	border: solid 1px #D8D8D8;
	border-radius: 5px;
	padding-left: 25px;
}

.formulario__input:focus {
	border: 3px solid #605B79;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
}

.formulario__btn {
	font-family: 'Poppins', sans-serif;
	height: 50px;
	width: 100%;
	background: green;
	color: white;
	border: none;
	border-radius: 3px;
}



/* Validacion */

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
